In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 08:50:36)
[Clang 10.0.0 ]

In [3]:
#grouping data by column index

cars = pd.read_csv('/Users/tank/Desktop/python/linkedin_python_Exercise Files/Data/mtcars.csv')
cars.columns = ['car_names','mpg','cyl','disp','hp','drap','wt','qsec','vs','am','gear','carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drap,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
cars_groups = cars.groupby(cars['cyl'])
cars_groups.mean()

,mpg,disp,hp,drap,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [5]:
gp=cars.groupby(cars['am'])
gp.mean()

,mpg,cyl,disp,hp,drap,wt,qsec,vs,gear,carb
am,,,,,,,,,,
0,17.147368,6.947368,290.378947,160.263158,3.286316,3.768895,18.183158,0.368421,3.210526,2.736842
1,24.392308,5.076923,143.530769,126.846154,4.050000,2.411000,17.360000,0.538462,4.384615,2.923077

In [6]:
cars[['mpg']].head()

    mpg
0  21.0
1  21.0
2  22.8
3  21.4
4  18.7

In [7]:
cars['mpg'].head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [8]:
df1=np.array([[1.,3.,4.,],[2.,5.,2.],[0.,4.,1.]])
df1

array([[1., 3., 4.],
       [2., 5., 2.],
       [0., 4., 1.]])

In [9]:
df2=np.array([[2.,1.],[0.,5.],[4.,7.]])
df2

array([[2., 1.],
       [0., 5.],
       [4., 7.]])

In [16]:
type(df2)

numpy.ndarray

In [17]:
type([df2])

list

In [11]:
df3 =  pd.DataFrame([df1,[df2]]) # [df2]才可以，df2不可以
df3

                                                   0
0  [[1.0, 3.0, 4.0], [2.0, 5.0, 2.0], [0.0, 4.0, ...
1             [[[2.0, 1.0], [0.0, 5.0], [4.0, 7.0]]]

In [12]:
df3.append(df3,ignore_index=True)

                                                   0
0  [[1.0, 3.0, 4.0], [2.0, 5.0, 2.0], [0.0, 4.0, ...
1             [[[2.0, 1.0], [0.0, 5.0], [4.0, 7.0]]]
2  [[1.0, 3.0, 4.0], [2.0, 5.0, 2.0], [0.0, 4.0, ...
3             [[[2.0, 1.0], [0.0, 5.0], [4.0, 7.0]]]

In [13]:
df2=pd.DataFrame([2.,1.],[0.,5.],[4.,7.])
df2

ValueError: Shape of passed values is (2, 1), indices imply (2, 2)

In [14]:
pd.concat([df1,df2])

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid